@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡¡¡Bienvenido!!!</h1>
    <img src="https://s3.amazonaws.com/businessinsider.mx/wp-content/uploads/2021/06/07130217/robo-de-identidad-paquetes.jpg" class="img-fluid" alt="Cargando">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
